:root {
  --white: #fffbfb;
  --grey: #f0eef1;
  --black: #050505;
  --red: #ff7070;
  --light-green: #9fff9c;
  --light-red: #ff9c9c;
  --border-radius: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
}

nav {
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: var(--spacing-lg);
}

main {
  display: block;
  text-align: center;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

.open-button {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  transition: filter 0.15s ease-in-out;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
.open-button:hover {
  filter: brightness(90%);
}

.form-popup {
  display: none;
  width: 350px;
  border: 3px solid #bdb9b9;
  z-index: 1;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 320px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input[type=number] {
  width: 50px;
  background-color: white;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 320px;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-xl);
  margin-top: var(--spacing-xl);
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--shadow);
  line-height: 1.2;
}